
<div class="app-main__outer">
    <div class="app-main__inner">
        <div class="row">
            <div class="col-md-12 col-xl-12">
                <div class="main-card mb-3 card">
                    <div class="card-body">
                        <h6>FOODITEM</h6>
                        <table class="table table-fluid table-striped table-hover">
                            <thead>
                                <tr style="color: white">
                                    <th width="25%">Food</th>
                                    <th width="15%">Type</th>
                                    <th width="20%">Vendor</th>
                                    <th width="15%">Status</th>
                                    <th width="5%">Actions</th>
                                </tr>
                            </thead>
                            <tbody id="exampleTable">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script src="~/js/example.js"></script>
}
