
<div class="app-main__outer">
    <div class="app-main__inner">
        <div class="row">
            <div class="col-md-12 col-xl-12">
                <div class="main-card mb-3 card">
                    <div class="card-body">
                        <h6>FOODITEM</h6>
                        <table class="table table-fluid table-striped table-hover">
                            <thead>
                                <tr style="color: white">
                                    <th width="25%">Food</th>
                                    <th width="15%">Type</th>
                                    <th width="20%">Vendor</th>
                                    <th width="15%">Status</th>
                                    <th width="5%">Actions</th>
                                </tr>
                            </thead>
                            <tbody id="exampleTable">
                               
                                @*<tr><td>Samuel</td><td>samuel@gmail.com</td><td>Pass1234</td></tr>
                                <tr><td>Jack</td><td>jack@gmail.com</td><td>Pass1234</td></tr>
                                <tr><td>Eureka</td><td>eureka@gmail.com</td><td>Pass1234</td></tr>
                                <tr><td>Pinky</td><td>pinky@gmail.com</td><td>Pass1234</td></tr>
                                <tr><td>Mishti</td><td>mishti@gmail.com</td><td>Pass1234</td></tr>
                                <tr><td>Puneet</td><td>puneet@gmail.com</td><td>Pass1234</td></tr>
                                <tr><td>Nick</td><td>nick@gmail.com</td><td>Pass1234</td></tr>
                                <tr><td>Danika</td><td>danika@gmail.com</td><td>Pass1234</td></tr>
                                <tr><td>Vishakha</td><td>vishakha@gmail.com</td><td>Pass1234</td></tr>
                                <tr><td>Nitin</td><td>ni3@gmail.com</td><td>Pass1234</td></tr>
                                <tr><td>Latika</td><td>latika@gmail.com</td><td>Pass1234</td></tr>
                                <tr><td>Kaavya</td><td>kaavya@gmail.com</td><td>Pass1234</td></tr>
                                <tr><td>Ishika</td><td>ishika@gmail.com</td><td>Pass1234</td></tr>
                                <tr><td>Veronika</td><td>veronika@gmail.com</td><td>Pass1234</td></tr>*@
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script src="~/js/example.js"></script>
}
