
@{
    ViewData["Title"] = "FoodItem";
}
<div class="app-main__outer">
    <div class="app-main__inner">
        <div class="row">
            <div class="col-md-12 col-xl-12">
                <div class="main-card mb-3 card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-2">
                                <h1 class="card-title" style="margin-top: 5px">Holiday</h1>
                            </div>
                            <div class="col-md-2">
                            </div>
                            <div class="col-md-4">
                                <div class="search-wrapper" style="margin-bottom: 10px">
                                    <div class="input-holder">
                                        <input type="text" class="search-input" placeholder="Type holiday to search">
                                        <button class="search-icon"><span></span></button>
                                    </div>
                                    <button class="close"></button>
                                </div>
                            </div>
                            <div class="col-md-3"></div>
                            <div class="col-md-1" style="margin-top: 5px">
                                <button class="btn btn-lg btn-outline-primary pull-right" style="margin-bottom: 15px;" id="holidayBtn">Add Holiday</button>
                            </div>
                        </div>
                        <div class="table-responsive tableFixHead" style="height: 480px; overflow:auto">
                            <table class="mb-0 table table-striped table-hover" id="tableId">
                                <thead>
                                    <tr style="background-color: #063970; color: white;">
                                        <th width="33%">Date</th>
                                        <th width="60%">Name</th>
                                        <th width="5%">Actions</th>
                                    </tr>
                                </thead>
                                <tbody id="holidayTable"></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Modals{
    <div class="modal" id="holidayModal" tabindex="-1">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Add Holiday</h5>
                    @*<button type="button" class="close" data-dismiss="modal" aria-hidden="true"> <i class="far fa-times-circle text-danger"></i> </button>*@
                </div>
                <form class="form-horizontal" id="appForm">
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-lg-5">
                                <label for="Date" style="margin-bottom: 0px; margin-top: 10px" class="form-label">Date   <span class="text-danger">*</span></label>
                                <input type="text" placeholder="Select Date" style="background-color: white" class="form-control required" id="date">
                            </div>
                            <div class="col-lg-7">
                                <label for="name" style="margin-bottom: 0px; margin-top: 10px" class="form-label">Name   <span class="text-danger">*</span></label>
                                <input type="text" class="form-control required" id="name">
                            </div>
                        </div>
                        @*<div class="row">
                                <div class="form-check col-md-6">
                                    <label class="form-check-label" for="repeating">Repeating
                                    </label>
                                    <input class="form-check-input" style="" type="checkbox" value="" id="">
                                </div>
                            </div>*@
                        <div class="modal-footer">
                            <button type="button" id="saveHoliday" class="btn btn-primary" disabled>Save  <i class="fa fa-save"></i></button>
                            <button type="button" class="btn btn-danger" id="closeBtn" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
}

@section Scripts{
    <script src="~/js/Holiday.js"></script>
}




