@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout_index.cshtml";
}
<div class="card" style="width: 130%">
    <h3 class="card-header" style="text-align: center">W e l c o m e</h3>
    <div class="card-body login-card-body">
        <h4 class="login-box-msg"><strong>Sign in to start your session</strong></h4>

        <form method="post">
            <div>
                <a style="width: 100% !important" type="button" asp-controller="Home" asp-action="Dashboard" class="btn btn-lg btn-primary">Sign In</a>
            </div>
        </form>
    </div>
</div>

