@{
    ViewData["Title"] = "Report";
    <style>
        th {
            color: white !important
        }

        .dataTables_wrapper.no-footer .dataTables_scrollBody {
            height: 50vh !important;
            max-height: 50vh !important;
        }

        #foodPage {
            margin-top: 20px;
            background-color: transparent !important;
            padding-left: 20px;
            margin-bottom: 0px
        }
    </style>
}
<div class="app-main__outer">
    <div id="foodPage">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb" style="background-color:transparent !important; margin-bottom: 0%; padding-bottom: 0%">
                <li class="breadcrumb-item"><a href="#"><strong>Setups</strong></a></li>
                <li class="breadcrumb-item active"><strong>Report</strong></li>
            </ol>
        </nav>
    </div>
    <div class="app-main__inner">
        <div class="row">
            <div class="col-md-12 col-xl-12">
                <div class="main-card mb-3 card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-2">
                                <h3 class="card-title" style="margin-top: 5px">Report</h3>
                            </div>
                            <div class="col-md-2">
                            </div>
                            <div class="col-md-4">
                                @*<div class="search-wrapper">
                                        <div class="input-holder">
                                            <input type="text" class="search-input" placeholder="Type ID or name to search">
                                            <button class="search-icon"><span></span></button>
                                        </div>
                                        <button class="close"></button>
                                    </div>*@
                            </div>
                            <div class="col-md-3"></div>
                            <div class="col-md-1" style="margin-top:5px">
                                <button class="btn btn-md btn-outline-primary pull-right" style="margin-bottom: 15px" id="btnViewReport">View Reports</button>
                            </div>
                        </div>
                        <table id="staffTable" class="mb-0 table table-striped table-hover" width="100%"></table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Modals{
    <div class="modal" id="ReportModal" tabindex="-1">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Reports</h5>

                    @*<button type="button" class="close" data-dismiss="modal" aria-hidden="true"> <i class="far fa-times-circle text-danger"></i> </button>*@
                </div>
                <form class="form-horizontal" id="appForm">
                    <h3>Select Date Range to View Report</h3>
                    <div class="modal-body">

                        <h1>Reports</h1>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" id="closeBtn" data-dismiss="modal">Close</button>
                    </div>
                </form>

            </div>

        </div>
    </div>
}
@section Scripts{
    <script src="~/js/staff.js"></script>
}
